@page "/Creditos"

<p style="font-size: 20px;">Grupo de TCC Grécia</p>
<p style="font-size: 20px;">Recycle</p>

<h1>Henrique Rocha</h1>
<h2>Front-end</h2>
<br>
<h1>Pietro Pessoa</h1>
<h2>Back-end</h2>