@page "/"

<PageTitle>Home</PageTitle>

<img src="/logoTexto.jpg" alt="Logo Recycle" style="width: 600px;" />
<br>
<a href="materiais/index" class="btn mt-4 ms-2" style="background-color: #6ece73; color: white;">Lista de materiais</a>
<a href="materiais/cadastro" class="btn mt-4 ms-2" style="background-color: #6ece73; color: white;">Cadastrar material</a>


